# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
exVazio/VictorFaleiroHayakawa08/Respostas.pdf
exVazio/VictorFaleiroHayakawa08/VictorFaleiroHayakawa08.rar
exVazio/Victor Faleiro Hayakawa03/Victor Faleiro Hayakawa03.rar
exVazio/Victor Faleiro Hayakawa01/VictorFH.rar
exVazio/Victor Faleiro Hayakawa04/Victor Faleiro Hayakawa04.rar
exVazio/Victor Faleiro Hayakawa05/programa04.jpg
exVazio/Victor Faleiro Hayakawa05/programa05.jpg
exVazio/Victor Faleiro Hayakawa05/programa06.jpg
exVazio/Victor Faleiro Hayakawa05/Victor Faleiro Hayakawa05.rar
exVazio/VictorFaleiroHayakawa06/VictorFaleiroHayakawa06.rar
exVazio/VictorFaleiroHayakawa07/VictorFaleiroHayakawa07.rar
